* {
    margin: 0;
    font-family: 'Handlee', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    color: white;
    background-color: #FD6E0A;
    padding: 18px 35px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px;
}

.btn-secondary {
    color: #FD6E0A;
    margin-left: 10px;
    padding: 18px 35px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px;
}

/* Header & Navigation */

.header {
    background-color: #FFF8F3;
    background-image: url(/images/header_bg.png), url(/images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}


nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-left: 50px;
}

/* banner design  */

.banner {
    display: flex;
    margin: 50px 100px;
    align-items: center;
}

.banner img {
    height: 670px;
}

.banner-title {
    font-weight: 600;
    font-size: 60px;
    margin-top: 20px;
}

.banner-subtitle {
    font-weight: 600;
    font-size: 35px;
}

.banner-para {
    color: rgba(117, 117, 117, 1);
    font-size: 18px;
    justify-content: center;
    padding-right: 400px;
    margin-bottom: 20px;
}

/* Responsive Styles */

@media screen and (max-width:576px) {
    .header{
        background-image: none;
    }
    nav, nav ul{
        flex-direction: column;
        gap: 20px;
        padding: 10px 0px;
        align-items: center;
    }

    .banner{
        flex-direction: column;
        padding: 10px 10px;
        margin: 0;
    }

    .banner-title {
        font-size: 25px;
    }
    
    .banner-subtitle {
        font-size: 20px;
    }
    
    .banner-para {
        font-size: 15px;
        padding: 10px 0px;
    }

    .banner img{
        width: 100%;
    }

    .btn-primary {
        font-size: 10px;
    }
    
    .btn-secondary {
        font-size: 10px;
    }
}

@media screen and (min-width:577px) and (max-width:992px) {

    nav, nav ul{
        gap: 20px;
        padding-left: 50px;
        justify-content: space-between;
    }

    nav ul li{
        margin-left: 0px;
    }

    .banner{
        flex-direction: column;
        gap: 20px;
        margin: 20px;
    }

    .banner-items{
        padding-left: 100px;
    }

    .banner-title {
        font-size: 25px;
    }
    
    .banner-subtitle {
        font-size: 20px;
    }
    
    .banner-para {
        font-size: 15px;
        padding-right: 0;
    }
}

/* Main Section */


main {
    max-width: 1140px;
    margin: 0 auto;
}

section{
    margin-top: 130px;
}

.section-title {
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}


/* About Section */

.about-me {
    background: #FFF8F3;
    padding: 130px 150px;

}

.section-para {
    font-size: 18px;
    color: rgba(117, 117, 117, 1);
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info-title {
    color: #757575;
    font-size: 20px;
}

.about-info-para {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

@media screen and (max-width: 576px) {
    .about-info-container {
        flex-direction: column;
        gap: 20px;
        padding: 10px 20px;
    }
    .about-me{
        padding: 10px;
        text-align: center;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .about-me{
        padding: 10px 20px;
    }

    .section-para {
        font-size: 15px;
    }

    .about-info-title {
        font-size: 15px;
    }
    
    .about-info-para {
        font-size: 15px;
    }
}

/* My Skills Section */

.my-skills .section-para {
    padding: 10px 50px;
    padding-bottom: 50px;
    text-align: center;
}


.skills-container {
    display: flex;
    gap: 20px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-title {
    font-weight: 700;
    font-size: 24px;
    margin: 30px 0;
}

.skill-para {
    color: #757575;
    font-size: 16px;
}


/* Responsive Styles  */

@media screen and (max-width: 576px) {
    .skills-container {
        flex-direction: column;
        padding: 10px 20px;
        text-align: center;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .skills-container{
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }
}

/* Resume styles */

.resume-content{
    display: flex;
    gap: 24px;
}

.resume-title{
    font-weight: 700;
    font-size: 30px;
    margin-top: 40px;
}

.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume-item .title{
    color: #474747;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
    
}
.resume-item .sub-title{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;

}
.resume-item .para{
    color: #757575;
    font-size: 16px;
}

.resume-button{
    margin: 50px;
    text-align: center;
}

/* Responsive Styles  */

@media screen and (max-width: 576px) {
    .resume-content{
        flex-direction: column;
        padding: 10px 20px;
        text-align: center;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .resume-content{
        padding: 10px 20px;
    }

    .resume-item .title{
        font-size: 20px;
        
    }
    .resume-item .sub-title{
        font-size: 15px;
    
    }
    .resume-item .para{
        font-size: 15px;
    }
    
}


/* contact styles */

.contact{
    display: flex;
    background: #FFF8F3;
    gap: 100px;
    padding: 50px 110px;
}

.contact .section-title{
    text-align: left;
}

.contact-para{
    color: #474747;
    font-size: 16px;
    margin: 30px 0;
}

.contact a{
    text-decoration: none;
}

.contact input[type="text"], input[type="email"], textarea{
    margin-bottom: 20px;
    width: 100%;
    border: 0;
    padding: 18px 30px;
}

input{
    height: 64px;
}

/* Responsive Styles  */

@media screen and (max-width: 576px) {
    .contact{
        flex-direction: column;
        padding: 10px 20px;
        text-align: center;
    }

    .contact input[type="text"], input[type="email"], textarea{
        padding: 0;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .contact{
        padding: 20px 20px;
        gap: 40px;
    }
    .contact input[type="text"], input[type="email"], textarea{
        padding: 0;
    }
    .contact .section-title{
        font-size: 25px;
    }
}